pytorch-lightning==1.6.5
torchmetrics==0.5.0
torch==1.8.0
torchvision
scipy==1.5.4
numpy==1.19.5
tqdm==4.66.4
espnet==202301
moviepy==1.0.3
python_speech_features
transformers==4.19.2
gradio
dlib==19.24.5